{
  "url": "",
  "folder_path": "",
  "history_filename": "",
  "test_filename": "",
  "mail_host": "",
  "mail_port": 0,
  "mail_username": "",
  "mail_password": "",
  "mail_subject": "",
  "mail_recipients": [""]
}
